@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.input-Div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  background-color: tan;

}

h1 {
  font-size:x-small;
}

h3 {
  font-family: 'Times New Roman', Times, serif;;
  font-size: xx-small;
}
