@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.card {
display: flex;
flex-direction:column;
width: 15rem;
text-align: center;
height: auto;
font-size: 0.7rem;
align-items: center;
background-color: tan;
margin: 15px;
}
img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

#card-container {
justify-content: space-between;
display: flex;
flex-direction: row;
width: 100%;
}
button {
    height: 75%;
}